<ui:composition template="/templates/error-page.xhtml"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://xmlns.jcp.org/jsf/core" xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets" xmlns:rf="https://ritmico.dev/jsf/components">

    <ui:define name="title">
    	<h:outputText value="#{cmsg['err.504.title']}" />
    </ui:define>
    
    <ui:define name="breadcrumbs">
		<li class="breadcrumb-item">
			<h:outputText value="#{cmsg['err.504.title']}"/>
		</li>    
    </ui:define>
    
    <ui:define name="error">
    	<p>
    		<h:outputText value="#{cmsg['err.504.detail']}" />    		
    	</p>        
    </ui:define>
    
</ui:composition>