<ui:composition template="../template-clipped.xhtml"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

	<ui:define name="metadata">
		<f:metadata>
			<f:viewAction action="#{stackTraceBean.prepare}">
				<f:viewParam name="process" value="#{stackTraceBean.process}"/>
			</f:viewAction>			
		</f:metadata>
	</ui:define>

	<ui:define name="title">
        <h:outputText value="Stack Trace" />
    </ui:define>
    
	<ui:define name="content">
		<h:panelGroup layout="block" styleClass="card-body">
			<div class="text-center">
				<img src="https://ontospace.ru/assets/error-ru.png" class="mx-auto d-block img-fluid" />
				<h3 class="display-2 error-pages-title"><i class="fa fa-exclamation-triangle"></i>555</h3>
				<p align="left">
					<h:inputTextarea value="#{stackTraceBean.stackTrace}" rows="120" cols="150" readonly="true"/>
				</p>
			</div>
		</h:panelGroup>
	</ui:define>

</ui:composition>