<ui:composition template="basic-template.xhtml" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core" xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets" xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:rf="https://ritmico.dev/jsf/components">

	<ui:define name="javascript">
		<h:form id="addons-form">
			<h:commandScript name="ritmico.table.sort" execute="@this" render="data-table" action="#{dataTableWebBean.sort}" onevent="ritmico.table.rerendered"/>
			<h:commandScript name="ritmico.table.detailInfo" execute="@this" render="detail-modal" action="#{detailInfo.select}" onevent="ritmico.table.showDetail"/>
		</h:form>
		<script type="text/javascript">
			ritmico.table.init();
		</script>
	</ui:define>

</ui:composition>