<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
<h:head>
	<ui:insert name="metadata" />
	<title>		
		<h:outputText value="Elekmonar → "/>
		<ui:insert name="title"/>
	</title>
	<meta charset="utf-8" />	
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />	
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<meta name="description" content=""/>
	<meta name="author" content=""/>
	<link rel="icon" href="/favicon.ico"/>
	<link href="https://elekmonar.network/libs/bootstrap/css/bootstrap.min.css" rel="stylesheet" />	
	<link href="/libs/fontawesome/css/all.min.css" rel="stylesheet" />
	<link href="https://elekmonar.network/libs/ie10-viewport/css/ie10-viewport.min.css" rel="stylesheet" />
	<link href="https://elekmonar.network/libs/tether/css/tether.min.css" rel="stylesheet" />		
	<h:outputStylesheet name="ritmico.css" library="css" />
	<h:outputStylesheet name="elekmonar.css" library="css" />
	<h:outputStylesheet name="forms.css" library="css" />
	<ui:insert name="css"></ui:insert>
	<meta http-equiv="Content-Language" content="ru" />
</h:head>
<h:body>
	<ui:include src="/navbar/navbar.xhtml" />
	<main class="flex-shrink-0">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-12">
					
				</div>
			</div>
			<ui:insert name="index-content"></ui:insert>
			<div class="row inside-content">
				<div class="d-none d-md-block d-lg-block col-md-2 col-lg-2 collapse show left-side-panels" id="leftToggleExternalContent">
					<div class="container px-0"><ui:insert name="left-sidebar" /></div>
				</div>
				<div class="col" id="mainToggleExternalContent">
					<ui:insert name="content">Данный раздел находится в стадии разработки</ui:insert>
				</div>
				<div class="d-none d-md-block d-lg-block col-md-3 col-lg-3 collapse show right-side-panels" id="rightToggleExternalContent">
					<div class="container px-0">
						<ui:insert name="right-sidebar" />
					</div>
				</div>
			</div>
		</div>
		<a id="back-to-top" href="#" class="btn btn-light btn-lg back-to-top" role="button">
			<i class="fas fa-chevron-up"></i>
		</a>
		<ui:insert name="layout"><h:outputText styleClass="layout d-none" value="Default"/></ui:insert>	
	</main>
	<footer class="footer fixed-bottom mt-auto py-3 bg-light" style="padding-bottom: 16px; padding-top: 16px;">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-2">
				
				</div>
				<div class="col-md-4 d-flex align-items-center">
					<span class="text-muted">&#169;&#160;Elekmonar Cloud Machine 2020</span>
				</div>
				<div class="col-md-3 justify-content-end d-flex">
					<ui:insert name="button-group">
						<h:panelGroup layout="block" styleClass="btn-group">
							<h:outputLink value="https://elekmonar.network" styleClass="navbar-brand">
								<img src="https://elekmonar.network/assets/logo.png" class="d-inline-block align-top" alt="Elekmonar" />
							</h:outputLink>
						</h:panelGroup>
					</ui:insert>
				</div>
				<div class="col-md-3">
				
				</div>
			</div>
		</div>
	</footer>	
	<script src="https://elekmonar.network/libs/jquery/jquery.min.js"></script>
	<script src="https://elekmonar.network/libs/popper/popper.min.js"></script>
	<script src="https://elekmonar.network/libs/bootstrap/js/bootstrap.min.js"></script>
	<script src="https://elekmonar.network/libs/ie10-viewport/js/ie10-viewport.min.js"></script>
	<h:outputScript name="jsf.js" library="javax.faces" target="head" />
	<h:outputScript name="ritmico.js" library="js" />
	<h:outputScript name="elekmonar.js" library="js" />
	<ui:insert name="javascript" />
</h:body>
</html>