<ui:composition template="/templates/basic-template.xhtml"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://xmlns.jcp.org/jsf/core" xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets" xmlns:rf="https://ritmico.dev/jsf/components">

    <ui:define name="content">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item">
					<h:outputText value="#{cmsg['err.title']}" />
				</li>
				<ui:insert name="breadcrumbs"/>
			</ol>
		</nav>			
		<div class="row">
			<div class="col-6 col-md-6">
				<ui:insert name="image"/>
			</div>		
			<div class="col-6 col-md-6">
				<table style="height:100%">
					<tbody>
						<tr>
							<td class="align-middle" style="font-size: 2em; font-family: monospace;">
								<ui:insert name="error"/>
							</td>
						</tr>
					</tbody>
				</table>				
			</div>
		</div>			    
    </ui:define>
</ui:composition>