footer {
	background-color: rgb(250,250,250);
	padding-top: 3em;
	padding-bottom: 3em;
}

div.dropdown-item > a.dropdown-item {
	padding-left: 0.25em;
	padding-right: 0.25em;
}

i.min-size {
	min-width: 20px;
	text-align: center;
}

a.list-group-item-action {
	padding-left: 1em;
}

.back-to-top {
    position: fixed;
    bottom: 25px;
    right: 25px;
    display: none;
}

.pre-x-scrollable {
    overflow: auto;
    -ms-word-wrap: normal;
    word-wrap: normal;
    overflow-wrap: normal;
    white-space: pre;
    max-width: 1080px;
}






.dropdown-menu .dropdown-menu {
	top: auto;
	left: 100%;
	transform: translateY(-2rem);
}
.dropdown-item + .dropdown-menu {
	display: block;
	opacity: 0;
	transition: opacity .3s 1s;
}
.dropdown-item.submenu::after {
	content: '▸';
	margin-left: 0.5rem;
}
.dropdown-item:hover + .dropdown-menu,
.dropdown-menu:hover {
	opacity: 1;
	transition: opacity .3s .1s;
}