<ui:composition
    xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:f="http://xmlns.jcp.org/jsf/core" xmlns:h="http://xmlns.jcp.org/jsf/html">

	<li class="nav-item dropdown">
		<a class="nav-link dropdown-toggle" href="#" id="navbar-app-server" role="button" data-bs-toggle="dropdown" aria-expanded="false">
			<i class="fad fa-books"></i>
			<span><h:outputText value="#{navmsg['appserver.title']}" /></span>						
		</a>
		<ul class="dropdown-menu" aria-labelledby="navbar-app-server">
			<li>
				<h:outputLink styleClass="dropdown-item" value="/appserver/about.xhtml" >
					<i class="fad fa-flag-alt"></i>
					<span><h:outputText value="#{navmsg['appserver.about']}" /></span>							
				</h:outputLink>			
			</li>
			<li>
				<h:outputLink styleClass="dropdown-item" value="/appserver/modules-composition.xhtml" >
					<i class="fad fa-flag-alt"></i>
					<span><h:outputText value="#{navmsg['appserver.modulesComposition']}" /></span>							
				</h:outputLink>
			</li>	
			<li>
				<h:outputLink styleClass="dropdown-item" value="/appserver/release-notes.xhtml" >
					<i class="fad fa-flag-alt"></i>
					<span><h:outputText value="#{navmsg['appserver.releaseNotes']}" /></span>							
				</h:outputLink>
			</li>
		</ul>				
	</li>

</ui:composition>