<ui:composition
    xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:f="http://xmlns.jcp.org/jsf/core" xmlns:h="http://xmlns.jcp.org/jsf/html">

	<li class="nav-item dropdown">
		<a class="nav-link dropdown-toggle" href="#" id="navbar-classifier" role="button" data-bs-toggle="dropdown" aria-expanded="false">
			<i class="fad fa-books min-size"></i>
			<span><h:outputText value="#{navmsg['classifier.title']}" /></span>						
		</a>
		<ul class="dropdown-menu" aria-labelledby="navbar-classifier">
			<li class="dropdown-header">
				<i class="fad fa-globe-stand"></i>
				<span><h:outputText value="#{navmsg['classifier.section.territory']}" /></span>
			</li>
			<li>
				<h:outputLink styleClass="dropdown-item" value="/classifier/territory/administrative-division/list.xhtml" >
					<i class="fad fa-badge-check min-size"></i>
					<span><h:outputText value="#{navmsg['classifier.administrativeDivisions']}" /></span>
					<f:param name="entityName" value="AdministrativeDivision"/>											
				</h:outputLink>			
			</li>
			<li>
				<h:outputLink styleClass="dropdown-item" value="/classifier/territory/continent/list.xhtml" >
					<i class="fad fa-badge-check min-size"></i>
					<span><h:outputText value="#{navmsg['classifier.continents']}" /></span>
					<f:param name="entityName" value="Continent"/>							
				</h:outputLink>			
			</li>
			<li>
				<h:outputLink styleClass="dropdown-item" value="/classifier/territory/country/list.xhtml" >
					<i class="fad fa-badge-check min-size"></i>
					<span><h:outputText value="#{navmsg['classifier.countries']}" /></span>
					<f:param name="entityName" value="Country"/>							
				</h:outputLink>
			</li>
			<li class="dropdown-divider"></li>
			<li class="dropdown-header">
				<i class="fab fa-artstation"></i>
				<span><h:outputText value="#{navmsg['classifier.section.art']}" /></span>						
			</li>
			<li>
				<h:outputLink styleClass="dropdown-item" value="/classifier/art/musical-genre/list.xhtml" >
					<i class="fad fa-badge-check min-size"></i>
					<span><h:outputText value="#{navmsg['classifier.musicalGenres']}" /></span>
					<f:param name="entityName" value="MusicalGenre"/>							
				</h:outputLink>
			</li>
			<li class="dropdown-divider"></li>
			<li class="dropdown-header">
				<i class="fad fa-computer-classic"></i>
				<span><h:outputText value="#{navmsg['classifier.section.dev']}" /></span>						
			</li>
			<li>
				<h:outputLink styleClass="dropdown-item" value="/classifier/dev/framework/list.xhtml" >
					<i class="fad fa-badge-check min-size"></i>
					<span><h:outputText value="#{navmsg['classifier.frameworks']}" /></span>
					<f:param name="entityName" value="Framework"/>							
				</h:outputLink>
			</li>
			<li>
				<h:outputLink styleClass="dropdown-item" value="/classifier/resource/internet-resource/list.xhtml" >
					<i class="fad fa-badge-check min-size"></i>
					<span><h:outputText value="#{navmsg['classifier.internetResources']}" /></span>
					<f:param name="entityName" value="InternetResource"/>							
				</h:outputLink>			
			</li>
		</ul>		
	</li>

</ui:composition>