<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

	<div class="container-fluid pt-2">
		<div class="row text-center">
			<div class="col-lg-12" id="color-scheme-panel">
				<span class="small">Цветовая палитра:</span>
				<button type="button" class="btn btn-light btn-sm border border-primary"
					data-toggle="tooltip" data-placement="top"
					title="Светлая" id="color-scheme-btn-1">
					<i class="fa fa-tint" aria-hidden="true"></i>
				</button>
				<button type="button" class="btn btn-primary btn-sm border border-primary"
					data-toggle="tooltip" data-placement="top"
					title="Темно-синяя" id="color-scheme-btn-2">
					<i class="fa fa-tint" aria-hidden="true"></i>
				</button>
				<button type="button" class="btn btn-dark btn-sm border border-primary"
					data-toggle="tooltip" data-placement="top"
					title="Темная" id="color-scheme-btn-3">
					<i class="fa fa-tint" aria-hidden="true"></i>
				</button>
			</div>
		</div>
	</div>

</ui:composition>