<ui:composition
    xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:f="http://xmlns.jcp.org/jsf/core" xmlns:h="http://xmlns.jcp.org/jsf/html">

	<li class="nav-item dropdown">
		<a class="nav-link dropdown-toggle" href="#" id="navbar-creation" role="button" data-bs-toggle="dropdown" aria-expanded="false">
			<i class="fad fa-plus-circle fa-lg"></i>						
		</a>
		<ul class="dropdown-menu" aria-labelledby="navbar-creation">
			<li>
				<h:outputLink styleClass="dropdown-item" value="/instance-set/creation.xhtml">
					<i class="fad fa-bars min-size"></i>
					<span><h:outputText value="#{navmsg['creation.instanceSet']}" /></span>				
					<f:param name="qualifier" value="InstanceSetWebFlow"/>
					<f:param name="jfwid" value="#{facesContext.externalContext.clientWindow.id}"/>
				</h:outputLink>
			</li>			
			<li>
				<h:outputLink styleClass="dropdown-item" value="/instance-sets/list.xhtml" >
					<i class="fad fa-books min-size"></i>
					<span><h:outputText value="#{navmsg['creation.classifier']}" /></span>
					<f:param name="entityName" value="InstanceSet"/>
					<f:param name="jfwid" value="#{facesContext.externalContext.clientWindow.id}"/>
				</h:outputLink>
			</li>
			<li class="dropdown-divider"></li>			
			<li>
				<h:outputLink styleClass="dropdown-item" value="/workspace/workspaces/creation.xhtml" >
					<i class="fad fa-books min-size"></i>
					<span><h:outputText value="#{navmsg['creation.workspace']}" /></span>
					<f:param name="qualifier" value="WorkspaceWebFlow"/>
					<f:param name="jfwid" value="#{facesContext.externalContext.clientWindow.id}"/>
				</h:outputLink>
			</li>
		</ul>				
	</li>

</ui:composition>