<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

	<li class="nav-item dropdown me-2">
		<a class="nav-link dropdown-toggle" href="#" id="navbar-info" role="button" data-bs-toggle="dropdown" aria-expanded="false">
			<i class="fa fa-question-circle fa-lg d-none d-lg-inline-block"></i>						
		</a>
		<ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbar-info">
			<li>
				<h:outputLink styleClass="dropdown-item" outcome="/info/legal.xhtml">
					<i class="fad fa-balance-scale-left min-size"></i>
					<span>
						<h:outputText value="#{navmsg['info.legal']}" />
					</span>
					<f:param name="jfwid" value="#{facesContext.externalContext.clientWindow.id}"/>
				</h:outputLink>				
			</li>			
			<li>
				<h:outputLink styleClass="dropdown-item" outcome="/info/release-notes.xhtml">
					<i class="fad fa-box-tissue min-size"></i>
                    <span>
                    	<h:outputText value="#{navmsg['info.releaseNotes']}" />
                    </span>
                    <f:param name="jfwid" value="#{facesContext.externalContext.clientWindow.id}"/>
				</h:outputLink>							
			</li>			
			<li>
				<h:outputLink styleClass="dropdown-item" outcome="/info/glossary-terms.xhtml">
					<i class="fad fa-scroll-old min-size"></i>
					<span>
						<h:outputText value="#{navmsg['info.glossaryTerms']}" />
					</span>
					<f:param name="jfwid" value="#{facesContext.externalContext.clientWindow.id}"/>
				</h:outputLink>
			</li>			
			<li>
				<h:outputLink styleClass="dropdown-item" outcome="/info/help.xhtml">
					<i class="fad fa-drum-steelpan min-size"></i>
					<span>
						<h:outputText value="#{navmsg['info.help']}" />
					</span>
					<f:param name="jfwid" value="#{facesContext.externalContext.clientWindow.id}"/>
				</h:outputLink>
			</li>			
			<li>
				<h:outputLink styleClass="dropdown-item" outcome="/info/common-rules.xhtml">
					<i class="fad fa-hand-sparkles min-size"></i>
					<span>
						<h:outputText value="#{navmsg['info.commonRules']}" />
					</span>
					<f:param name="jfwid" value="#{facesContext.externalContext.clientWindow.id}"/>
				</h:outputLink>
			</li>			
			<li>
				<h:outputLink styleClass="dropdown-item" outcome="/info/technologies.xhtml">
					<i class="fas fa-microchip min-size"></i>
					<span>
						<h:outputText value="#{navmsg['info.technologies']}" />
					</span>
					<f:param name="jfwid" value="#{facesContext.externalContext.clientWindow.id}"/>
				</h:outputLink>
			</li>			
			<li>
				<h:outputLink styleClass="dropdown-item" outcome="/info/license.xhtml">
					<i class="fad fa-id-badge min-size"></i>
					<span>
						<h:outputText value="#{navmsg['info.license']}" />
					</span>
					<f:param name="jfwid" value="#{facesContext.externalContext.clientWindow.id}"/>
				</h:outputLink>
			</li>			
			<li>
				<h:outputLink styleClass="dropdown-item" outcome="/info/about.xhtml">
					<i class="fad fa-receipt min-size"></i>
					<span>
						<h:outputText value="#{navmsg['info.about']}" />
					</span>								
					<f:param name="jfwid" value="#{facesContext.externalContext.clientWindow.id}"/>
				</h:outputLink>
			</li>			
		</ul>				
	</li>

</ui:composition>