<ui:composition
    xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:f="http://xmlns.jcp.org/jsf/core" xmlns:h="http://xmlns.jcp.org/jsf/html">

	<li class="nav-item dropdown">
		<a class="nav-link dropdown-toggle" href="#" id="navbar-instance-sets" role="button" data-bs-toggle="dropdown" aria-expanded="false">
			<i class="fad fa-bars"></i>
			<span><h:outputText value="#{navmsg['instanceSets.title']}" /></span>						
		</a>
		<ul class="dropdown-menu" aria-labelledby="navbar-instance-sets">
			<li>
				<h:outputLink styleClass="dropdown-item" value="/instance-set/list.xhtml" >
					<i class="fad fa-flag-alt"></i>
					<span><h:outputText value="#{navmsg['instanceSets.list']}" /></span>
					<f:param name="entityName" value="InstanceSet"/>							
				</h:outputLink>				
			</li>
		</ul>				
	</li>

</ui:composition>