<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:of="http://omnifaces.org/functions">

		<div class="dropdown-divider d-lg-none"></div>
		<ul class="nav navbar-nav form-inline">
			<ui:include src="info.xhtml" />
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle"
                                      data-toggle="dropdown"
                                      href="#"
                                      role="button"
                                      aria-haspopup="true"
                                      aria-expanded="false"
                                      title="#{navmsg['info.title']}">
                                      <h:outputText styleClass="d-lg-none" value="#{navmsg['user.profile']}" />
                                      <i class="far fa-user-astronaut fa-lg d-none d-lg-inline-block"></i>
				</a>			
				<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
					<h:outputLink styleClass="dropdown-item" value="/logout.xhtml">
						<i class="fas fa-portal-exit"></i>
						<span><h:outputText value="#{navmsg['user.signout']}" /></span>
					</h:outputLink>				
				</div>
			</li>
		</ul>	
		
</ui:composition>