<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

	<li class="nav-item">
		<h:link styleClass="nav-link text-primary align-middle" title="#{navmsg['user.signin']}" outcome="/userspace/entry.xhtml">
			<i class="text-secondary fa fa-sign-in text-primary fa-lg d-lg-inline-block" aria-hidden="true"></i>
			<h:outputText styleClass="ms-2 d-lg-none d-xl-inline-block" value="#{navmsg['user.signin']}" />			
		</h:link>
	</li>

</ui:composition>