<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

	<nav class="navbar navbar-expand-lg navbar-light bg-light ps-4 pe-4">
		<div class="container-fluid">
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<i class="fad fa-hamburger"></i>
			</button>
			<h:outputLink value="https://elekmonar.network" styleClass="navbar-brand">
				<img src="https://elekmonar.network/assets/logo.png" class="d-inline-block align-top" alt="Elekmonar" />
			</h:outputLink>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto mb-2 mb-lg-0">
					<ui:include src="classifiers.xhtml"/>
					<ui:include src="instance-sets.xhtml"/>
					<ui:include src="app-server.xhtml"/>
					<ui:include src="creation.xhtml"/>
				</ul>
			</div>
			<div class="collapse navbar-collapse d-flex justify-content-end">
				<ul class="navbar-nav mr-auto mb-2 mb-lg-0">
					<ui:include src="info.xhtml"/>
					<ui:fragment rendered="#{userBean.loggedIn}">						
						<ui:include src="nav-logged-state.xhtml" />
					</ui:fragment>
					<ui:fragment rendered="#{not userBean.loggedIn}">	
						<ui:include src="nav-unlogged-state.xhtml" />
					</ui:fragment>				
				</ul>
			</div>
		</div>
	</nav>		

</ui:composition>